@model FE.W.Models.Expedientes

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Expedientes</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaN)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaN)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ciudad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ciudad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Canton)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Canton)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Distrito)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Distrito)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Diagnostico)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Diagnostico)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Antecendente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Antecendente)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MediUtilizados)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MediUtilizados)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AnteQuirurgicos)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AnteQuirurgicos)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fracturas)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fracturas)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AnteFamiliares)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AnteFamiliares)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CedulaNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CedulaNavigation.Cedula)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdExpediente">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
